@model ProjectMercury.DAL.VMModels.UrunAI
@{
    Layout = "~/Views/Shared/_LayoutView.cshtml";
}

<section class="section light-backgorund">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-md-3">
                <div class="navbar-vertical">
                    <ul class="nav nav-stacked">
                        <li class="header">
                            <h6 class="text-uppercase">Kategoriler <i class="fa fa-navicon pull-right"></i></h6>
                        </li>
                        @{
                            foreach (var item in ProjectMercury.DAL.Repository.KategoriRepo.Kategoriler())
                            {
                                <li>
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                        @item.KategoriAdi <i class="fa fa-angle-right pull-right"></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        @{
                                            foreach (var sonuc in ProjectMercury.DAL.Repository.AltKategoriRepo.AltKategorileriListele())
                                            {
                                                if (sonuc.KategoriID == item.KategoriID)
                                                {
                                                    <li><a href="~/Product/AltKategoriListele/@sonuc.AltKategoriID">@sonuc.AltKategoriAdi</a></li>
                                                }
                                            }
                                        }
                                    </ul>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
            <div class="col-sm-8 col-md-9">
                <div class="owl-carousel slider owl-theme">
                    @{
                        foreach (var item in ProjectMercury.DAL.Repository.SliderRepo.SliderList())
                        {
                            <div class="item">
                                <figure>
                                    <a href="javascript:void(0);">
                                        <img src="@item.Image"/>
                                    </a>
                                </figure>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Kampanyalı Ürünler -->
<section class="section white-backgorund">
    <div class="container">

        <h5 class=" text-center text-success"><i class="fa fa-diamond"></i> Hit 5 Ürünle Herşey</h5>
        <hr class="spacer-20 no-border" />
       <div class="row">
                <div class="col-sm-4">
                    <div class="widget">
                        <h5 class="subtitle text-uppercase"><span class="text-primary">Yeni</span> Ürünler</h5>
                        @{ foreach (var yeniurun in Model.EnYeni)
                            {
                                <ul class="items">
                                    <li>
                                        <a href="shop-single-product-v1.html" class="product-image">
                                            <img src="@yeniurun.Image" alt="@yeniurun.UrunAdi" class="img-responsive">
                                        </a>
                                        <div class="product-details">
                                            <h6 class="regular">
                                                <a href="shop-single-product-v1.html">@yeniurun.UrunAdi</a>
                                            </h6>
                                            <span class="price text-primary">@yeniurun.IndirimliFiyati₺</span>
                                        </div>
                                    </li>
                                </ul>
                            }
                        }
                    </div>
                </div>
               
                <div class="col-sm-4">
                    <div class="widget">
                        <h5 class="subtitle text-uppercase"><span class="text-primary">Günün Fırsatı</span> Ürünler</h5>

                        @{ foreach (var yeniurun in Model.GununFirsati)
                            {
                                <ul class="items">
                                    <li>
                                        <a href="shop-single-product-v1.html" class="product-image">
                                            <img src="@yeniurun.Image" alt="@yeniurun.UrunAdi" class="img-responsive">
                                        </a>
                                        <div class="product-details">
                                            <h6 class="regular">
                                                <a href="shop-single-product-v1.html">@yeniurun.UrunAdi</a>
                                            </h6>
                                            <span class="price text-primary">@yeniurun.IndirimliFiyati₺</span>
                                        </div>
                                    </li>
                                </ul>
                            }
                        }
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="widget">
                        <h5 class="subtitle text-uppercase"><span class="text-primary">En Çok Satılan</span> Ürünler</h5>
                        @{ foreach (var yeniurun in Model.EnCokSatan)
                            {
                                <ul class="items">
                                    <li>
                                        <a href="shop-single-product-v1.html" class="product-image">
                                            <img src="@yeniurun.Image" alt="@yeniurun.UrunAdi" class="img-responsive">
                                        </a>
                                        <div class="product-details">
                                            <h6 class="regular">
                                                <a href="shop-single-product-v1.html">@yeniurun.UrunAdi</a>
                                            </h6>
                                            <span class="price text-primary">@yeniurun.IndirimliFiyati₺</span>
                                        </div>
                                    </li>
                                </ul>
                            }
                        }
                    </div>
                </div>
            </div>
            </div>
        </section>
