@model ProjectMercury.DAL.VMModels.VMViewKategori
@{
    Layout = "~/Views/Shared/_LayoutView.cshtml";
}
<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-xs-10">
                    <ul>
                        <li><a href="~/View/Anasayfa">Ana Sayfa</a></li>
                        <li class="active"><a href="#">@Model.KategoriAdi</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="section white-backgorund">
    <div class="container">
        <div class="row">

            <div class="col-md-3 sidebar light-background">

                <div class="widget ">
                    <div class="navbar-vertical">
                        <ul class="nav nav-stacked ">
                            <li class="header">
                                <h6 class="text-uppercase">@Model.KategoriAdi <i class="fa fa-navicon pull-right"></i></h6>
                            </li>
                            @{
                                foreach (var item in Model.AltKategoriler)
                                {
                                    <li>
                                        <a class="dropdown-toggle" href="~/View/AltKategori/@item.AltKategoriID">
                                            @item.AltKategoriAdi <i class="fa fa-angle-right pull-right"></i>
                                        </a>
                                        <ul class="dropdown-menu">
                                            @{
                                                foreach (var item2 in Model.ÜrünKategorileri)
                                                {
                                                    if (item.AltKategoriID == item2.AltKategoriID)
                                                    {
                                                        <li><a href="~/View/UrunKategori/@item2.UrunKategoriID">@item2.UrunKategoriAdi</a></li>
                                                    }
                                                }
                                            }
                                        </ul>
                                    </li>
                                                }
                            }
                        </ul>
                    </div>
                </div>

                <div class="widget">
                    <div class="sidebar-filter">
                        <div class="sidebar-widget wow fadeInUp">
                            <div class="widget-header">
                                <h4 class="widget-title">Markalar</h4>
                            </div>
                            <div class="sidebar-widget-body">
                                <ul class="list">
                                    @{
                                        foreach (var item in Model.Markalar)
                                        {
                                            <li><a href="~/View/Marka/@item.MarkaID">@item.MarkaAdi</a></li>
                                        }
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="widget">
                    <div class="sidebar-widget wow fadeInUp">
                        <div class="widget-header">
                            <h6 class="widget-title">Fiyat Aralığı</h6>
                            <form method="post" class="price-range" data-start-min="2" data-start-max="1000" data-min="2" data-max="1000" data-step="2">
                                <div class="ui-range-values">
                                    <div class="ui-range-value-min">
                                        ₺<span></span>
                                        <input type="hidden" name="data">
                                    </div> -
                                    <div class="ui-range-value-max">
                                        ₺<span></span>
                                        <input type="hidden" name="data2">
                                    </div>
                                </div>
                                <input type="hidden" name="Gorev" value="Siralama">
                                <div class="ui-range-slider"></div>
                                <button type="submit" class="btn btn-default btn-block btn-md">Filtrele</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-9" id="pages">
                <div class="row">
                    <div class="col-md-12 ">
                        <h2 class="title">@Model.KategoriAdi</h2>
                    </div>
                </div>
                <hr class="spacer-5"><hr class="spacer-5 no-border">

                @{
                    foreach (var item in Model.Urunler)
                    {
                        <div class="page col-sm-3 ">
                            <div class="thumbnail store style1">
                                <div class="header">
                                    <div class="badges">
                                        <span class="product-badge top right danger-background text-white semi-circle">@item.IndirimliFiyati</span>
                                    </div>
                                    <figure class="layer">
                                        <a href="javascript:void(0);">
                                            <img src="@item.Image" alt="@item.UrunAdi" class="img-responsive">
                                        </a>
                                    </figure>
                                    <div class="icons">
                                        <a class="icon semi-circle" href="javascript:void(0);" onclick="SepeteEkle('@item.UrunID');"><i class="fa fa-cart-plus"></i></a>
                                        <a class="icon semi-circle" href="javascript:void(0);" data-toggle="modal" data-target=".productQuickView" onclick="DataGom('@item.UrunAdi','@item.Image','@item.UrunFiyati','@item.IndirimliFiyati','@item.UrunAciklama','@item.UrunID')"><i class="fa fa-search"></i></a>
                                    </div>
                                </div>
                                <div class="caption">
                                    <h6 class="regular" style="overflow:hidden;white-space:nowrap;text-overflow:ellipsis;"><a href="shop-single-product-v1.html">@item.UrunAdi</a></h6>
                                    <div class="price">
                                        <small class="amount off">@item.UrunFiyati₺</small>
                                        <span class="amount text-primary">@item.IndirimliFiyati₺</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }

                <hr class="spacer-10 no-border">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <nav>
                            <ul class="pagination" id="myPager"></ul>
                        </nav>
                    </div>
                </div>
            </div>


            <div class="modal fade productQuickView" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 id="urunAdi"></h5>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-sm-5">
                                    <div class='carousel slide product-slider' data-ride='carousel' data-interval="false">
                                        <div class='carousel-inner'>
                                            <div class='item active'>
                                                <figure>
                                                    <img id="urunResmi" />
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-7">
                                    <h4 class="text-primary" id="urunIndirim"></h4>
                                    <input hidden="hidden" id="ManuelID" />
                                    <small id="urunFiyati" class="amount off"></small>
                                    <hr class="text-danger" />
                                    <div class="col-md-pull-12">
                                        <p class="text-danger" id="urunAciklama"></p>
                                    </div>
                                    <hr class="spacer-10">
                                    <ul class="list list-inline">
                                        <li><button type="button" class="btn btn-default btn-md round" data-dismiss="modal" onclick="SepeteEkleManuel();"><i class="fa fa-shopping-basket mr-5"></i>Sepete Ekle</button></li>
                                        <li>
                                            <button type="button" class="btn btn-gray " data-dismiss="modal"><i class="fa fa-times-circle mr-5"></i>Pencereyi Kapat</button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<script type="text/javascript">
    function DataGom(obj, obj2, obj3, obj4, obj5, obj6) {
        document.getElementById("urunAdi").innerHTML = obj;
        document.getElementById("urunResmi").src = obj2;
        document.getElementById("urunFiyati").innerHTML = "Ürün Fiyatı: " + obj3 + "₺";
        document.getElementById("urunIndirim").innerHTML = "İndirimli Fiyatı: " + obj4 + "₺";
        document.getElementById("urunAciklama").innerHTML = obj5;
        document.getElementById("ManuelID").value = obj6;
    }

    function SepeteEkle(obj) {
        var urunId = obj;
        var data = JSON.stringify({
            'urunId': urunId
        })
        $.ajax({
            type: 'POST',
            url: '/View/Sepet',
            data: data,
            contentType: 'application/json',
            success: function (response) {
                if (response != null && response.success) {
                    $.notify({
                        icon: 'fa fa-check-circle',
                        message: response.responseText,
                    }, {
                            type: 'success',
                            placement: {
                                from: 'top',
                                align: 'center'
                            },
                            delay: 1500
                        });
                } else {
                    $.notify({
                        icon: 'fa fa-exclamation-triangle',
                        message: response.responseText,
                    }, {
                            type: 'danger',
                            placement: {
                                from: 'top',
                                align: 'center'
                            },
                            delay: 1500
                        });
                }  
            },
            error: function (response) {
                $.notify({
                    icon: 'fa fa-exclamation-triangle',
                    message: 'Sunucuyla İletişim Kurulamadı!',
                }, {
                        type: 'danger',
                        placement: {
                            from: 'top',
                            align: 'center'
                        },
                        delay: 1500
                    });
            }
        })
    };

    function SepeteEkleManuel() {
        var urunId = document.getElementById("ManuelID").value;
        var data = JSON.stringify({
            'urunId': urunId
        })
        $.ajax({
            type: 'POST',
            url: '/View/Sepet',
            data: data,
            contentType: 'application/json',
            success: function (response) {
                if (response != null && response.success) {
                    $.notify({
                        icon: 'fa fa-check-circle',
                        message: response.responseText,
                    }, {
                            type: 'success',
                            placement: {
                                from: 'top',
                                align: 'center'
                            },
                            delay: 1500
                        });
                } else {
                    $.notify({
                        icon: 'fa fa-exclamation-triangle',
                        message: response.responseText,
                    }, {
                            type: 'danger',
                            placement: {
                                from: 'top',
                                align: 'center'
                            },
                            delay: 1500
                        });
                }
            },
            error: function (response) {
                $.notify({
                    icon: 'fa fa-exclamation-triangle',
                    message: 'Sunucuyla İletişim Kurulamadı!',
                }, {
                        type: 'danger',
                        placement: {
                            from: 'top',
                            align: 'center'
                        },
                        delay: 1500
                    });
            }
        })
    };
</script>


<script type="text/javascript">
    $.fn.pageMe = function (opts) {
        var $this = this,
            defaults = {
                perPage: 12,
                showPrevNext: false,
                numbersPerPage: 1,
                hidePageNumbers: false
            },
            settings = $.extend(defaults, opts);

        var listElement = $this;
        var perPage = settings.perPage;
        var children = listElement.children();
        var pager = $('.pagination');

        if (typeof settings.childSelector != "undefined") {
            children = listElement.find(settings.childSelector);
        }

        if (typeof settings.pagerSelector != "undefined") {
            pager = $(settings.pagerSelector);
        }

        var numItems = children.length;
        var numPages = Math.ceil(numItems / perPage);

        pager.data("curr", 0);

        if (settings.showPrevNext) {
            $('<li><a href="#" class="prev_link">«</a></li>').appendTo(pager);
        }

        var curr = 0;
        while (numPages > curr && (settings.hidePageNumbers == false)) {
            $('<li><a href="#" class="page_link">' + (curr + 1) + '</a></li>').appendTo(pager);
            curr++;
        }

        if (settings.numbersPerPage > 1) {
            $('.page_link').hide();
            $('.page_link').slice(pager.data("curr"), settings.numbersPerPage).show();
        }

        if (settings.showPrevNext) {
            $('<li><a href="#" class="next_link">»</a></li>').appendTo(pager);
        }

        pager.find('.page_link:first').addClass('active');
        if (numPages <= 1) {
            pager.find('.next_link').hide();
        }
        pager.children().eq(1).addClass("active");

        children.hide();
        children.slice(0, perPage).show();

        pager.find('li .page_link').click(function () {
            var clickedPage = $(this).html().valueOf() - 1;
            goTo(clickedPage, perPage);
            return false;
        });
        pager.find('li .prev_link').click(function () {
            previous();
            return false;
        });
        pager.find('li .next_link').click(function () {
            next();
            return false;
        });

        function previous() {
            var goToPage = parseInt(pager.data("curr")) - 1;
            goTo(goToPage);
        }

        function next() {
            goToPage = parseInt(pager.data("curr")) + 1;
            goTo(goToPage);
        }

        function goTo(page) {
            var startAt = page * perPage,
                endOn = startAt + perPage;

            children.css('display', 'none').slice(startAt, endOn).show();

            if (page >= 1) {
                pager.find('.prev_link').show();
            }
            else {
                pager.find('.prev_link').hide();
            }

            if (page < (numPages - 1)) {
                pager.find('.next_link').show();
            }
            else {
                pager.find('.next_link').hide();
            }

            pager.data("curr", page);

            if (settings.numbersPerPage > 1) {
                $('.page_link').hide();
                $('.page_link').slice(page, settings.numbersPerPage + page).show();
            }

            pager.children().removeClass("active");
            pager.children().eq(page + 1).addClass("active");
        }
    };

    $('#pages').pageMe({ pagerSelector: '#myPager', childSelector: '.page', showPrevNext: true, hidePageNumbers: false, perPage: 12 });
</script>
