@model ProjectMercury.DAL.VMModels.VMSiparisSepeti
@{
    Layout = "~/Views/Shared/_LayoutView.cshtml";
}

<section class="section white-backgorund">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-12 text-left">
                        <h2 class="title">Siparişi Tamamla</h2>
                    </div>
                </div>

                <hr class="spacer-1"><hr class="spacer-10 no-border">

                <div class="row">
                    <div class="col-sm-12">
                        <ul class="nav nav-pills style2 nav-justified">
                            <li class="active">
                                <a href="#shopping-cart" data-toggle="tab">
                                    1. Sepeti Kontrol Et
                                    <div class="icon">
                                        <i class="fa fa-check"></i>
                                    </div>
                                </a>
                            </li>
                            <li onclick="Goster('@Model.Uye.Il')">
                                <a href="#billing-info" data-toggle="tab">
                                    2. Bilgilerini Gir
                                    <div class="icon">
                                        <i class="fa fa-home"></i>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#payment" data-toggle="tab">
                                    3. Siparişi Onayla
                                    <div class="icon">
                                        <i class="fa fa-credit-card"></i>
                                    </div>
                                </a>
                            </li>
                        </ul>

                        <div class="tab-content pills">
                            <div class="tab-pane active" id="shopping-cart">
                                <div class="panel-body">
                                    <table id="DbOdeme" class="table table-striped table-bordered table-hover" width="100%">
                                        <thead>
                                            <tr>
                                                <th colspan="2">Ürün Adı</th>
                                                <th>Ürün Fiyatı</th>
                                                <th>Adet</th>
                                                <th>Toplam Fiyat</th>
                                                <th colspan="2">İşlemler</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{
                                                foreach (var item in Model.Urun)
                                                {
                                                    <tr>
                                                        <td><img width="60" src="@item.Image" alt="@item.UrunAdi" /></td>
                                                        <td>@item.UrunAdi</td>
                                                        <td>@item.UrunFiyati</td>
                                                        <td>@item.UrunAdedi</td>
                                                        <td>@item.ToplamFiyat</td>
                                                        <td>
                                                            <button class="btn btn-primary" data-toggle="modal" data-target="#ARMVM" onclick="Adet('@item.UrunAdi','@item.UrunAdedi','@item.UrunID')">Adet Değiştir</button>
                                                        </td>
                                                        <td>
                                                            <button class="btn btn-danger" data-toggle="modal" data-target="#ARMVMQ" onclick="Sil('@item.UrunAdi','@item.UrunID')">Ürün'ü Çıkar</button>
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="tab-pane" id="billing-info">
                                <form method="post">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h5 class="thin subtitle">Bilgileriniz</h5>
                                            <div class="row">
                                                <div class="form-group col-sm-6">
                                                    <select class="selectpicker form-control" data-live-search="true" name="Il" id="Il">
                                                        <option data-tokens="Adana">Adana</option>
                                                        <option data-tokens="Adıyaman">Adıyaman</option>
                                                        <option data-tokens="Afyonkarahisar">Afyonkarahisar</option>
                                                        <option data-tokens="Ağrı">Ağrı</option>
                                                        <option data-tokens="Amasya">Amasya</option>
                                                        <option data-tokens="Ankara">Ankara</option>
                                                        <option data-tokens="Antalya">Antalya</option>
                                                        <option data-tokens="Artvin">Artvin</option>
                                                        <option data-tokens="Aydın">Aydın</option>
                                                        <option data-tokens="Balıkesir">Balıkesir</option>
                                                        <option data-tokens="Bilecik">Bilecik</option>
                                                        <option data-tokens="Bingöl">Bingöl</option>
                                                        <option data-tokens="Bitlis">Bitlis</option>
                                                        <option data-tokens="Bolu">Bolu</option>
                                                        <option data-tokens="Burdur">Burdur</option>
                                                        <option data-tokens="Bursa">Bursa</option>
                                                        <option data-tokens="Çanakkale">Çanakkale</option>
                                                        <option data-tokens="Çankırı">Çankırı</option>
                                                        <option data-tokens="Çorum">Çorum</option>
                                                        <option data-tokens="Denizli">Denizli</option>
                                                        <option data-tokens="Diyarbakır">Diyarbakır</option>
                                                        <option data-tokens="Edirne">Edirne</option>
                                                        <option data-tokens="Elazığ">Elazığ</option>
                                                        <option data-tokens="Erzincan">Erzincan</option>
                                                        <option data-tokens="Erzurum">Erzurum</option>
                                                        <option data-tokens="Eskişehir">Eskişehir</option>
                                                        <option data-tokens="Gaziantep">Gaziantep</option>
                                                        <option data-tokens="Giresun">Giresun</option>
                                                        <option data-tokens="Gümüşhane">Gümüşhane</option>
                                                        <option data-tokens="Hakkari">Hakkâri</option>
                                                        <option data-tokens="Hatay">Hatay</option>
                                                        <option data-tokens="Isparta">Isparta</option>
                                                        <option data-tokens="Mersin">Mersin</option>
                                                        <option data-tokens="İstanbul">İstanbul</option>
                                                        <option data-tokens="İzmir">İzmir</option>
                                                        <option data-tokens="Kars">Kars</option>
                                                        <option data-tokens="Kastamonu">Kastamonu</option>
                                                        <option data-tokens="Kayseri">Kayseri</option>
                                                        <option data-tokens="Kırklareli">Kırklareli</option>
                                                        <option data-tokens="Kırşehir">Kırşehir</option>
                                                        <option data-tokens="Kocaeli">Kocaeli</option>
                                                        <option data-tokens="Konya">Konya</option>
                                                        <option data-tokens="Kütahya">Kütahya</option>
                                                        <option data-tokens="Malatya">Malatya</option>
                                                        <option data-tokens="Manisa">Manisa</option>
                                                        <option data-tokens="Kahramanmaraş">Kahramanmaraş</option>
                                                        <option data-tokens="Mardin">Mardin</option>
                                                        <option data-tokens="Muğla">Muğla</option>
                                                        <option data-tokens="Muş">Muş</option>
                                                        <option data-tokens="Nevşehir">Nevşehir</option>
                                                        <option data-tokens="Niğde">Niğde</option>
                                                        <option data-tokens="Ordu">Ordu</option>
                                                        <option data-tokens="Rize">Rize</option>
                                                        <option data-tokens="Sakarya">Sakarya</option>
                                                        <option data-tokens="Samsun">Samsun</option>
                                                        <option data-tokens="Siirt">Siirt</option>
                                                        <option data-tokens="Sinop">Sinop</option>
                                                        <option data-tokens="Sivas">Sivas</option>
                                                        <option data-tokens="Tekirdağ">Tekirdağ</option>
                                                        <option data-tokens="Tokat">Tokat</option>
                                                        <option data-tokens="Trabzon">Trabzon</option>
                                                        <option data-tokens="Tunceli">Tunceli</option>
                                                        <option data-tokens="Şanlıurfa">Şanlıurfa</option>
                                                        <option data-tokens="Uşak">Uşak</option>
                                                        <option data-tokens="Van">Van</option>
                                                        <option data-tokens="Yozgat">Yozgat</option>
                                                        <option data-tokens="Zonguldak">Zonguldak</option>
                                                        <option data-tokens="Aksaray">Aksaray</option>
                                                        <option data-tokens="Bayburt">Bayburt</option>
                                                        <option data-tokens="Karaman">Karaman</option>
                                                        <option data-tokens="Kırıkkale">Kırıkkale</option>
                                                        <option data-tokens="Batman">Batman</option>
                                                        <option data-tokens="Şırnak">Şırnak</option>
                                                        <option data-tokens="Bartın">Bartın</option>
                                                        <option data-tokens="Ardahan">Ardahan</option>
                                                        <option data-tokens="Iğdır">Iğdır</option>
                                                        <option data-tokens="Yalova">Yalova</option>
                                                        <option data-tokens="Karabük">Karabük</option>
                                                        <option data-tokens="Kilis">Kilis</option>
                                                        <option data-tokens="Osmaniye">Osmaniye</option>
                                                        <option data-tokens="Düzce">Düzce</option>
                                                    </select>
                                                </div>

                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <input id="name" type="text" value="@Model.Uye.UyeAdiSoyadi" placeholder="Adı Soyadı" name="firstname" class="form-control input-md" required>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <input id="email" type="text" value="@Model.Uye.MailAdresi" placeholder="Email" name="email" class="form-control input-md" required email>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <input id="phone" type="tel" value="@Model.Uye.Telefon" placeholder="Telefon" name="phone" class="form-control input-md" required>
                                                    </div>
                                                </div>

                                                <div class="form-group col-sm-12">
                                                    <input id="billingAddress" type="text" value="@Model.Uye.Adres" placeholder="Adres" name="address1" class="form-control input-md" required>
                                                </div>
                                                <input name="UyelerID" value="@Model.Uye.UyelerID" hidden="hidden">
                                                <input name="Gorev" value="Guncelle" hidden="hidden">
                                                <div class="form-group col-sm-12">
                                                    <button class="btn btn-success form-control">Bilgileri Güncelle</button>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="col-md-6">
                                            <h5 class="thin subtitle">Bize Notunuz Mu Var?</h5>
                                            <div class="form-group">
                                                <textarea rows="6" class="form-control" name="Not" placeholder="Ayrıca Bize Söylemek İstediğiniz Şey?"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <div class="tab-pane" id="payment">
                                <div class="row">
                                    <div class="col-md-6">
                                        <h5 class="thin subtitle">Fatura Bilgileri</h5>
                                        <div class="panel-group accordion style2" id="accordionPayment" role="tablist" aria-multiselectable="true">
                                            <div class="panel panel-default">
                                                <div class="panel-heading" role="tab" id="headingPayment1">
                                                    <h4 class="panel-title">
                                                        <a class="" data-toggle="collapse" data-parent="#accordionPayment" href="#collapsePayment1" aria-expanded="true" aria-controls="collapsePayment1">
                                                            <i class="fa fa-file-text-o"></i> Firma Sözleşmesi
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div id="collapsePayment1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingPayment1">
                                                    <div class="panel-body">
                                                        <div class="col-md-12">
                                                            <h5 class="thin subtitle">@ProjectMercury.DAL.Repository.SiteBilgileriRepo.Goster().SiteAdi</h5>
                                                            <p>@ProjectMercury.DAL.Repository.SiteBilgileriRepo.Goster().Hakkinda</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="panel panel-default">
                                                <div class="panel-heading" role="tab" id="headingPayment2">
                                                    <h4 class="panel-title">
                                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordionPayment" href="#collapsePayment2" aria-expanded="false" aria-controls="collapsePayment2">
                                                            <i class="fa fa-check-square-o"></i> Siparişi Tamamla
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div id="collapsePayment2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingPayment2">
                                                    <form method="post">
                                                        <div class="panel-body">
                                                            <div class="form-group">
                                                                <div class="col-sm-12">
                                                                    <div class="table-responsive">
                                                                        <table class="table no-border">
                                                                            <tr>
                                                                                <th>Sipariş Tarihi</th>
                                                                                <td>@DateTime.Now.ToShortDateString()</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <th>Toplam Ürün</th>
                                                                                <td>@ViewBag.Sepet</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <th>Toplam Fiyat</th>
                                                                                <td>@Model.ToplamFiyat ₺</td>
                                                                            </tr>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <input name="UyelerID" value="@Model.Uye.UyelerID" hidden="hidden">
                                                            <input name="Gorev" value="Gonder" hidden="hidden">
                                                            <div class="form-group">
                                                                <div class="col-sm-12 text-center">
                                                                    <button class="btn btn-default btn-md round" type="submit">Siparişi Şimdi Tamamla</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <h5 class="thin subtitle">Sorumluluk Reddi & Gizlilik</h5>
                                        <div class="panel-group accordion style1" id="question" role="tablist" aria-multiselectable="true">
                                            <div class="panel panel-default">
                                                <div class="panel-heading" role="tab" id="questionOne">
                                                    <h4 class="panel-title">
                                                        <a class="" data-toggle="collapse" data-parent="#question" href="#collapseQuestionOne" aria-expanded="true" aria-controls="collapseOne">
                                                            Sorumluluk Reddi
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div id="collapseQuestionOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="questionOne">
                                                    <div class="panel-body">
                                                        <p>
                                                            Choice Corporation %100 Yerli Girişimle Yaratılan Bir Firmadır. Diğer Firmaların Aksine Kendi Bünyesinde Veri Madencili Yapmak İçin Sunucu Barındırmaz.
                                                            Choice Corp.  her zaman her site için ayrı bir sunucu kiralar ve sunucuların güvenliğini hizmet veren firmayla garanti altına alır.
                                                            Hizmet veren firmaya olası bir hack saldırısı sonrası oluşabilecek maddi manevi her türlü kayıpları sunucu hizmeti veren firma ile choice corp. yazılımlarını satın alıp kullanan firmalar sorumludur. Bu sorumluluk reddini yazılımı kullanan herkes kabul etmiş sayılır.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="panel panel-default">
                                                <div class="panel-heading" role="tab" id="questionTwo">
                                                    <h4 class="panel-title">
                                                        <a class="collapsed" data-toggle="collapse" data-parent="#question" href="#collapseQuestionTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                            Gizlilik
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div id="collapseQuestionTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="questionTwo">
                                                    <div class="panel-body">
                                                        <p>Choice Corporation Hiçbir zaman hiçbir koşulda kullanıcı bilgilerini barındırmaz veya kullanmaz. Bu Kullanıcı Bilgileri gizliliği politikamızla koruma altındadır.</p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="panel panel-default">
                                                <div class="panel-heading" role="tab" id="questionThree">
                                                    <h4 class="panel-title">
                                                        <a class="collapsed" data-toggle="collapse" data-parent="#question" href="#collapseQuestionThree" aria-expanded="false" aria-controls="collapseThree">
                                                            Güvence
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div id="collapseQuestionThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="questionThree">
                                                    <div class="panel-body">
                                                        <p>Bu Yazılım En Güncel Teknolojiler Kullanılarak Geliştirildi. Her Hakkı Sakılıdır.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="spacer-30">
                    </div>

                    <div class="modal fade" id="ARMVM" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                        <div class="modal-dialog modal-sm">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                    <h4 class="modal-title" id="myModalLabel">Ürün Adeti</h4>
                                </div>
                                <div class="modal-body">
                                    <form method="post">
                                        <input name="UyelerID" value="@Model.Uye.UyelerID" hidden="hidden">
                                        <input id="urunIDAdet" name="UrunID" hidden="hidden">
                                        <input name="Gorev" value="Adet" hidden="hidden">
                                        <div class="form-group">
                                            <label class="text-primary">Ürün Adı</label>
                                            <input class="form-control" id="urunAdiAdet" name="UrunAdi" readonly="readonly">
                                        </div>
                                        <div class="form-group">
                                            <label class="text-primary">Ürün Adedi</label>
                                            <input type="number" class="form-control" id="urunAdediAdet" name="UrunAdedi" min="1">
                                        </div>
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-success form-control" >Kaydet</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" id="ARMVMQ" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                        <div class="modal-dialog modal-sm">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                    <h4 class="modal-title" id="myModalLabel">Sepetten Çıkar</h4>
                                </div>
                                <div class="modal-body">
                                    <form method="post">
                                        <input name="UyelerID" value="@Model.Uye.UyelerID" hidden="hidden">
                                        <input id="urunID" name="UrunID" hidden="hidden">
                                        <input name="Gorev" value="Sil" hidden="hidden">
                                        <div class="form-group">
                                            <label class="text-primary">Bu Ürün Sepetten Çıkarılsın mı?</label>
                                            <input class="form-control" id="urunAdi" name="UrunAdi" readonly="readonly">
                                        </div>
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-danger form-control">Sil</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">

    $(document).ready(function () {
        $('#DbOdeme').DataTable({
            lengthChange: false,
            dom: 'Bfrtip',
            responsive: true
        });
    });

    function Goster(obj) {
        $('#Il').selectpicker('val', obj);
    };

    function Adet(obj, obj2,obj3) {
        document.getElementById("urunAdiAdet").value = obj;
        document.getElementById("urunAdediAdet").value = obj2;
        document.getElementById("urunIDAdet").value = obj3;
    };

    function Sil(obj, obj3) {
        document.getElementById("urunAdi").value = obj;
        document.getElementById("urunID").value = obj3;
    };
</script>