@model List<ProjectMercury.DAL.VMModels.VMUrun>
@{
    ViewBag.Title = "Choice Admin Control Systems V.1.5 / Alt Kategoriler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="page-wrapper">
    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header"><strong style="color:orangered">@ViewBag.KategoriAdi</strong> <button class="btn btn-success" data-toggle="modal" data-target="#Comar"><i class="fa fa-paw"></i> Çomar Yardım</button> </h1>

        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong style="color:chocolate">@ViewBag.AltKategoriAdi</strong> Ürünleri Gösteriliyor
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>Ürün Kategori</th>
                                <th>Ürün Adı</th>
                                <th>Ürün Fiyatı</th>
                                <th>İndirimli Fiyatı</th>
                                <th>Ürün Adedi</th>
                                <th>İşlemler</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.UrunKategori</td>
                                        <td>@item.UrunAdi</td>
                                        <td>@item.UrunFiyati</td>
                                        <td>@item.IndirimliFiyati</td>
                                        <td>@item.UrunAdedi</td>
                                        <td>
                                            <button data-toggle="modal" data-target="#myModal" class="btn btn-warning" onclick="Islem('@item.UrunID','@item.UrunAdi')">Ürün Sil</button>
                                            <button data-toggle="modal" data-target="#IndirimModal" class="btn btn-warning" onclick="Islem('@item.UrunAdi','@item.IndirimliFiyati','@item.UrunID')">İndirim</button>
                                            <a class="btn btn-info" href="~/Product/UrunDuzenle/@item.UrunID">Detay</a>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="modal fade" id="Comar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="myModalLabel">ÇOMAR AI V.1.2 (ALPHA)</h4>
                    </div>
                    <div class="modal-body">
                        <div class="panel panel-green">
                            <div class="panel-heading">
                                ÇOMAR YARDIM
                            </div>
                            <div class="panel-body">
                                <p>
                                    Merhaba! Ben SiteRobotu Çomar. Bu Sayfada <strong style="color:blue">@ViewBag.KategoriAdi</strong> Adlı Kategori İçindeki
                                    <strong style="color:brown">@ViewBag.AltKategoriAdi</strong> Adlı Alt Kategorisinde Yer alan Ürünleri Görmektesiniz.
                                    Bu ürünler Yanlızca Seçili Kategorilerdeki Ürünlerdir. Bu Ürünlerde Bir Yanlışlık Görüyorsanız Yanlış Kategorilere Kayıt Etmişsinizdir.
                                </p>
                            </div>
                            <div class="panel-footer">
                                Haydi Hazırsanız Şimdi Bir Ürüne Bakalım...
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="myModalLabel">Ürün Silme</h4>
                    </div>
                    <form role="form" method="post">
                        <div class="modal-body">
                            <input type="hidden" name="UrunID" id="SilID" />
                            <input type="hidden" name="Gorev" value="Sil" />
                            <div class="form-group">
                                <input class="form-control" readonly="readonly" style="color:orangered" id="Silinecek">
                                <label style="color:orangered">Ürün Silenecek Devam Edilsin mi?</label>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
                            <button type="submit" class="btn btn-warning">SİL</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade" id="IndirimModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="myModalLabel">İndirim İşlemleri</h4>
                    </div>
                    <form role="form" method="post">
                        <div class="modal-body">
                            <input type="hidden" name="UrunID" id="ID" />
                            <input type="hidden" name="Gorev" value="Degistir" />
                            <div class="form-group">
                                <input class="form-control" readonly="readonly" style="color:darkorange" id="Urunismi">
                                <label style="color:blue">Mevcut İndirim</label>
                                <input class="form-control" readonly="readonly" style="color:orangered" id="indirimgoster">
                                <hr />
                                <label style="color:forestgreen">Yeni İndirim</label>
                                <input class="form-control" name="IndirimliFiyati" style="color:orangered" required>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
                            <button type="submit" class="btn btn-warning">Uygula</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function Islem(obj, obj2,obj3) {
        document.getElementById("SilID").value = obj;
        document.getElementById("Silinecek").value = obj2;
        document.getElementById("Urunismi").value = obj;
        document.getElementById("indirimgoster").value = obj2;
        document.getElementById("ID").value = obj3;
    }
</script>