@model ProjectMercury.DAL.VMModels.VMUrunModel
@{
    ViewBag.Title = "Choice Admin Control Systems V.1.5 / Ürün Ekle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="page-wrapper">
    <div class="row">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">ÜRÜN EKLE <button class="btn btn-success" data-toggle="modal" data-target="#Comar"><i class="fa fa-paw"></i> Çomar Yardım</button></h1>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">

                <div class="col-lg-12">
                    <form role="form" method="post" enctype="multipart/form-data">

                        <div class="form-group col-sm-3">
                            <label>Marka Adı</label>
                            <select class="selectpicker form-control" data-live-search="true" name="Marka">
                                @{
                                    foreach (var item in Model.marka)
                                    {
                                        <option data-tokens="@item.MarkaAdi">@item.MarkaAdi</option>
                                    }
                                }
                            </select>
                        </div>

                        <div class="form-group col-sm-3">
                            <label>Kategori Adı</label>
                            <select  class="selectpicker form-control" data-live-search="true" name="Kategori">
                                @{
                                    foreach (var item in Model.kategori)
                                    {
                                        <option data-tokens="@item.KategoriAdi">@item.KategoriAdi</option>
                                    }
                                }
                            </select>
                        </div>

                        <div class="form-group col-sm-3">
                            <label>Alt Kategori Adı</label>
                            <select class="selectpicker form-control" data-live-search="true" name="AltKategori">
                                @{
                                    foreach (var item in Model.altkategoriadi)
                                    {
                                        <option data-tokens="@item.AltKategoriAdi">@item.AltKategoriAdi</option>
                                    }
                                }
                            </select>
                        </div>

                        <div class="form-group col-sm-3">
                            <label>Ürün Kategori</label>
                            <select class="selectpicker form-control" data-live-search="true" name="UrunKategori">
                                @{
                                    foreach (var item in Model.urunkategoriadi)
                                    {
                                        <option data-tokens="@item.UrunKategoriAdi">@item.UrunKategoriAdi</option>
                                    }
                                }
                            </select>
                        </div>

                        <div class="form-group col-sm-3">
                            <label>Ürün Adı</label>
                            <input class="form-control" name="UrunAdi" required>
                        </div>

                        <div class="form-group col-sm-3">
                            <label>Ürün Fiyatı</label>
                            <input class="form-control" name="UrunFiyati" required>
                        </div>

                        <div class="form-group col-sm-3">
                            <label>İndirimli Fiyatı</label>
                            <input class="form-control" name="IndirimliFiyati" required>
                        </div>

                        <div class="form-group col-sm-3">
                            <label>Ürün Adedi</label>
                            <input class="form-control" name="UrunAdedi" required>
                        </div>

                        <div class="form-group col-sm-4">
                            <label>Ürün Açıklaması</label>
                            <textarea class="form-control" rows="3" name="UrunAciklama" required></textarea>
                        </div>

                        <div class="form-group col-sm-4">
                            <div class="fileinput fileinput-new col-md-12" data-provides="fileinput">
                                <div class="fileinput-preview fileinput-exists thumbnail img-responsive col-md-12"></div>
                                <div class="col-md-12">
                                    <span class="btn btn-success btn-file col-md-12 form-control"><span class="fileinput-new">Resim Dosyası Seçin</span><span class="fileinput-exists">Değiştir</span><input type="file" name="Resim"></span>
                                    <br /><br />
                                    <a href="#" class="btn btn-danger fileinput-exists col-lg-12 form-control " data-dismiss="fileinput">Sil</a>
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-sm-4">
                            <button type="submit" class="btn btn-danger col-md-12 form-control">ÜRÜNÜ EKLE</button>
                        </div>

                    </form>
                </div>
                <br />

                <div class="col-lg-12">
                    <div class="@TempData["1"]" hidden="@TempData["2"]">@TempData["3"]</div>
                </div>

            </div>
            <div class="modal fade" id="Comar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title" id="myModalLabel">ÇOMAR AI V.1.2 (ALPHA)</h4>
                        </div>
                        <div class="modal-body">
                            <div class="panel panel-green">
                                <div class="panel-heading">
                                    ÇOMAR YARDIM
                                </div>
                                <div class="panel-body">
                                    <p>
                                        Merhaba! Ben SiteRobotu Çomar. Bu sayfadan Ürün Ekleyebilirsiniz.<strong style="color:red">
                                            Ürün Eklemek İçin Önce Eklenecek Ürünle İlgili Bir Kategori Olması Gerekir.
                                            Kategoriden Sonra Bir Alt Kategori Olması Gerekir.
                                        </strong>
                                        Her Ürünün Ürün Kategorisi Olmak zorunda Değildir. Ama Her Ürünün Kategorisi Ve alt Kategorisi Olmalıdır.
                                        Ürünlere Resim Yüklemek Ürünlerin İçeriğini Zenginleştirir.
                                    </p>
                                </div>
                                <div class="panel-footer">
                                    Haydi şimdi Hazırsanız Ürün Ekleyelim....
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>

