@model ProjectMercury.DAL.VMModels.VMUrun
@{
    ViewBag.Title = "Choice Admin Control Systems V.1.5 / Ürün Düzenle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="page-wrapper">
    <div class="row">
        <!-- Portfolio Item Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">ÜRÜN DETAY SAYFASI<small> Ürün Düzenleme</small> <button class="btn btn-success" data-toggle="modal" data-target="#Comar"><i class="fa fa-paw"></i> Çomar Yardım</button></h1>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">

                <div class="col-md-6">
                    <img src="@Model.Image" class="img-responsive" />
                </div>

                <div class="col-md-6">
                    <form role="form" method="post" enctype="multipart/form-data">

                        <div class="form-group">
                            <label>Marka Adı</label>
                            <select class="selectpicker form-control" data-live-search="true" name="Marka" id="Marka">
                                @{
                                    foreach (var item in (List<ProjectMercury.Entity.Models.Marka>)ViewBag.Marka)
                                    {
                                        <option data-tokens="@item.MarkaAdi">@item.MarkaAdi</option>
                                    }
                                }
                            </select>
                        </div>

                        <div class="form-group">
                            <label>Kategori Adı</label>
                            <select class="selectpicker form-control" data-live-search="true" name="Kategori" id="Kategori">
                                @{
                                    foreach (var item in (List<ProjectMercury.Entity.Models.Kategori>)ViewBag.Kategori)
                                    {
                                        <option data-tokens="@item.KategoriAdi">@item.KategoriAdi</option>
                                    }
                                }
                            </select>
                        </div>

                        <div class="form-group">
                            <label>Alt Kategori Adı</label>
                            <select class="selectpicker form-control" data-live-search="true" name="AltKategori" id="AltKategori">
                                @{
                                    foreach (var item in (List<ProjectMercury.Entity.Models.AltKategori>)ViewBag.AltKategori)
                                    {
                                        <option data-tokens="@item.AltKategoriAdi">@item.AltKategoriAdi</option>
                                    }
                                }
                            </select>
                        </div>

                        <div class="form-group">
                            <label>Ürün Kategori</label>
                            <select class="selectpicker form-control" data-live-search="true" name="UrunKategori" id="UrunKategori">
                                @{
                                    foreach (var item in (List<ProjectMercury.Entity.Models.UrunKategori>)ViewBag.UrunKategori)
                                    {
                                        <option data-tokens="@item.UrunKategoriAdi">@item.UrunKategoriAdi</option>
                                    }
                                }
                            </select>
                        </div>

                        <div class="form-group">
                            <label>Ürün Adı</label>
                            <input class="form-control" name="UrunAdi" required value="@Model.UrunAdi" placeholder="Ürün Adını Girin">
                        </div>

                        <div class="form-group">
                            <label>Ürün Fiyatı</label>
                            <input class="form-control" name="UrunFiyati" required value="@Model.UrunFiyati" placeholder="Ürün Fiyatını Girin">
                        </div>

                        <div class="form-group">
                            <label>İndirimli Fiyatı</label>
                            <input class="form-control" name="IndirimliFiyati" required value="@Model.IndirimliFiyati" placeholder="Ürün İndirimli Fiyatını Girin">
                        </div>

                        <div class="form-group">
                            <label>Ürün Adedi</label>
                            <input class="form-control" name="UrunAdedi" required value="@Model.UrunAdedi" placeholder="Ürün Adedi">
                        </div>

                        <div class="form-group">
                            <label>Ürün Açıklaması</label>
                            <textarea class="form-control" rows="3" name="UrunAciklama" required>@Model.UrunAciklama</textarea>
                        </div>

                        <div class="form-group col-md-6">
                            <div class="fileinput fileinput-new col-md-12" data-provides="fileinput">
                                <div class="fileinput-preview fileinput-exists thumbnail img-responsive col-md-12"></div>
                                <div class="col-md-12">
                                    <span class="btn btn-success btn-file col-md-12 form-control"><span class="fileinput-new">Resim Dosyası Seçin</span><span class="fileinput-exists">Değiştir</span><input type="file" name="Resim"></span>
                                    <br /><br />
                                    <a href="#" class="btn btn-danger fileinput-exists col-lg-12 form-control " data-dismiss="fileinput">Sil</a>
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            <button type="submit" class="btn btn-danger col-md-12 form-control">ÜRÜNÜ GÜNCELLE</button>
                        </div>
                        <div>
                            <input hidden="hidden" name="UrunID" value="@Model.UrunID">
                            <input hidden="hidden" name="Image" value="@Model.Image">
                        </div>
                    </form>
                </div>
                <br />

                <div class="col-lg-12">
                    <div class="@TempData["1"]" hidden="@TempData["2"]">@TempData["3"]</div>
                </div>

            </div>
            <div class="modal fade" id="Comar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title" id="myModalLabel">ÇOMAR AI V.1.2 (ALPHA)</h4>
                        </div>
                        <div class="modal-body">
                            <div class="panel panel-green">
                                <div class="panel-heading">
                                    ÇOMAR YARDIM
                                </div>
                                <div class="panel-body">
                                    <p>
                                        Merhaba! Ben SiteRobotu Çomar. Bu sayfada bir ürünle ilgili bilgileri görebilir veya düzenleyebilirsiniz.
                                    </p>
                                </div>
                                <div class="panel-footer">
                                    Haydi şimdi Hazırsanız Ürün Düzenleyelim....
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#Marka').selectpicker('val', '@Model.Marka');
        $('#Kategori').selectpicker('val', '@Model.Kategori');
        $('#AltKategori').selectpicker('val', '@Model.AltKategori');
        $('#UrunKategori').selectpicker('val', '@Model.UrunKategori');
    });

</script>
