@model List<ProjectMercury.DAL.VMModels.VMUrun>
@{
    ViewBag.Title = "Choice Admin Control Systems V.1.5 / Tüm Ürünler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="page-wrapper">
    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Tüm Ürünler <button class="btn btn-success" data-toggle="modal" data-target="#Comar"><i class="fa fa-paw"></i> Çomar Yardım</button> </h1>

        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Tüm Ürünler Gösteriliyor
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>Kategori</th>
                                <th>Alt Kategori</th>
                                <th>Ürün Kategori</th>
                                <th>Ürün Adı</th>
                                <th>Ürün Fiyatı</th>
                                <th>İndirimli Fiyatı</th>
                                <th>Ürün Adedi</th>
                                <th>İşlemler</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.Kategori</td>
                                        <td>@item.AltKategori</td>
                                        <td>@item.UrunKategori</td>
                                        <td>@item.UrunAdi</td>
                                        <td>@item.UrunFiyati</td>
                                        <td>@item.IndirimliFiyati</td>
                                        <td>@item.UrunAdedi</td>
                                        <td>
                                            <button data-toggle="modal" data-target="#Stok" class="btn btn-success" onclick="Islem2('@item.UrunID','@item.UrunAdi','@item.UrunAdedi')">Stok Ekle</button>
                                            <button data-toggle="modal" data-target="#myModal" class="btn btn-warning" onclick="Islem('@item.UrunID','@item.UrunAdi')">Ürün Sil</button>
                                            <a  class="btn btn-info"  href="~/Product/UrunDuzenle/@item.UrunID">Detay</a>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="modal fade" id="Comar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="myModalLabel">ÇOMAR AI V.1.2 (ALPHA)</h4>
                    </div>
                    <div class="modal-body">
                        <div class="panel panel-green">
                            <div class="panel-heading">
                                ÇOMAR YARDIM
                            </div>
                            <div class="panel-body">
                                <p>
                                    Merhaba! Ben SiteRobotu Çomar. Bu Sayfada Tüm Ürünleri Gelişmiş Arama Özelliği İle Donatılmış Tabloda
                                    Görmektesiniz. Bu Tablonun en Sağındaki İki Butondan Tabloda İlgili Ürünü Silebilir. Yada Ürüne Daha
                                    Yakından Bakmak İçin Ürün Sayfasına Gidebilirsiniz.
                                </p>
                            </div>
                            <div class="panel-footer">
                                Haydi Hazırsanız Şimdi Bir Ürün ekleyelim...
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="myModalLabel">Ürün Silme</h4>
                    </div>
                    <form role="form" method="post">
                        <div class="modal-body">
                            <input type="hidden" name="UrunID" id="SilID" />
                            <input type="hidden" name="Gorev" value="Sil" />
                            <div class="form-group">
                                <input class="form-control" readonly="readonly" style="color:orangered" id="Silinecek">
                                <label style="color:orangered">Ürün Silenecek Devam Edilsin mi?</label>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
                            <button type="submit" class="btn btn-warning">SİL</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade" id="Stok" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="myModalLabel">Stok Ekleme</h4>
                    </div>
                    <form role="form" method="post">
                        <div class="modal-body">
                            <input type="hidden" name="UrunID" id="SilIDS" />
                            <input type="hidden" name="Gorev" value="Stok" />
                            <div class="form-group">
                                <label style="color:orangered">Adlı Ürüne Stok Girişi</label>
                                <input class="form-control" readonly="readonly" style="color:orangered" id="SilinecekS">
                            </div>
                            <div class="form-group">
                                <label style="color:forestgreen">Bu Ürünün Stoktaki Mevcut Adeti</label>
                                <input class="form-control" type="number" readonly="readonly" style="color:blue" id="Adett">
                            </div>
                            <div class="form-group">
                                <label style="color:forestgreen">Stoktaki Adedine Eklenecek Ürün Adedi</label>
                                <input class="form-control" type="number" min="1" value="1" style="color:firebrick" name="UrunAdedi">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
                            <button type="submit" class="btn btn-warning">Güncelle</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-lg-12">
            <div>
                <a class="btn btn-info col-lg-12" href="~/Product/UrunEkle">Ürün Ekle</a>
                <p class="text-warning"><strong>Bir Ürün Eklemek İçin Ürün Ekle Butonuna Basın</strong></p>
            </div>
        </div>

    </div>
</div>
<script type="text/javascript">
    function Islem(obj, obj2) {
        document.getElementById("SilID").value = obj;
        document.getElementById("Silinecek").value = obj2;
    }
    function Islem2(obj, obj2, obj3) {
        document.getElementById("SilIDS").value = obj;
        document.getElementById("SilinecekS").value = obj2;
        document.getElementById("Adett").value = obj3;
    }
</script>

